@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Sura|Open+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
@media print {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt;
    line-height: 1.45;
    font-family: Garamond, "Times New Roman", serif;
    color: #000;
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    font-family: "Helvetica", Arial, sans-serif;
  }
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4,
  h5,
  h6 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  code {
    font: 12pt Courier, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  }
  blockquote {
    margin: 1.2em;
    padding: 1em;
    font-size: 24pt;
    line-height: 1.45833333em;
    font-style: italic;
  }
  hr {
    background-color: #ccc;
  }
  img {
    float: left;
    margin: 1em 1.5em 1.5em 0;
    max-width: 100% !important;
  }
  a img {
    border: none;
  }
  a:link,
  a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
  }
  a:link[href^="http://"]:after,
  a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="http://"] {
    color: #000;
  }
  a[href$=".jpg"]:after,
  a[href$=".jpeg"]:after,
  a[href$=".gif"]:after,
  a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display: none;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  table {
    margin: 1px;
    text-align: left;
  }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333;
  }
  th,
  td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
}
.arrow-icon {
  height: 60px;
  width: 60px;
}
.arrow-icon:after {
  content: '';
  border-right: 6px solid #ff6f00;
  border-top: 6px solid #ff6f00;
  display: block;
  height: 37.5px;
  width: 37.5px;
  margin-left: 1%;
  -webkit-transform: rotate(135deg) translateX(-6px) translateY(-6px);
  -moz-transform: rotate(135deg) translateX(-6px) translateY(-6px);
  -o-transform: rotate(135deg) translateX(-6px) translateY(-6px);
  -ms-transform: rotate(135deg) translateX(-6px) translateY(-6px);
  transform: rotate(135deg) translateX(-6px) translateY(-6px);
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.avatar:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.avatar img {
  position: absolute;
  margin: 0 auto;
  height: auto;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #ff6f00;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  height: 2.5rem;
}
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  background-color: #f26900;
  color: #f7f7f7;
  border: none;
}
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  background-color: #e66400;
}
.container {
  padding: 0 1.1em;
}
input[type='text'],
input[type='password'] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  border: solid 4px #c9c9c9;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #f7fafc;
  color: #555;
  width: 100%;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  -webkit-transition: ;
  -moz-transition: ;
  -o-transition: ;
  -ms-transition: ;
  transition: ;
  border-radius: 0;
  height: 2.5rem;
}
input[type='text']:focus,
input[type='password']:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(127,219,255,0.7);
  box-shadow: 0 0 5px rgba(127,219,255,0.7);
  border: 4px solid #95d1e9;
  outline: none;
}
label {
  line-height: 1.5em;
  display: inline-block;
  font-size: 1.25rem;
}
* a {
  color: #ff6f00;
  text-decoration: none;
}
.page-title {
  padding: 3.9rem 1.1em 3.7rem;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .page-title.page-title {
    padding: 1.8rem 1.1em;
  }
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 18px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 18px + (20 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 41.78158492851092px;
  margin-top: 0;
  line-height: 1.1em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 41.78158492851092px + (46.423983253901014 - 41.78158492851092) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 46.423983253901014px;
  }
}
h2 {
  font-size: 35.305505112907625px;
  margin-top: 0;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 35.305505112907625px + (39.228339014341806 - 35.305505112907625) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 39.228339014341806px;
  }
}
h3 {
  font-size: 29.833207462337665px;
  margin-top: 0;
  line-height: 1.3em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 29.833207462337665px + (33.14800829148629 - 29.833207462337665) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 33.14800829148629px;
  }
}
h4 {
  font-size: 25.209107323194473px;
  margin-top: 0;
  line-height: 1.4em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 25.209107323194473px + (28.01011924799386 - 25.209107323194473) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 28.01011924799386px;
  }
}
h5 {
  font-size: 21.30173541797711px;
  margin-top: 0;
  line-height: 1.5em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 21.30173541797711px + (23.668594908863454 - 21.30173541797711) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 23.668594908863454px;
  }
}
h6 {
  font-size: 18px;
  margin-top: 0;
  line-height: 1.6em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 18px + (20 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 20px;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.8375em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.078125em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.21875em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 18px;
  margin-bottom: 1.18125em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 18px + (20 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 20px;
    margin-bottom: 0.5140625em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.18125em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 18px + (20 - 18) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 20px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.1875em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 2.05625em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* h7 {
  font-family: 'Roboto Slab', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
}
#main-wrapper.main-wrapper:before {
  content: '';
  background-color: #ff6f00;
  height: 8px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  body #main-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 0;
  }
}
@media only screen and (min-width: 1050px) {
  #main-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
.block-branding {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  float: left;
  padding: 12px;
}
.block-branding a.site-logo {
  height: 50px;
}
.block-branding a.site-logo img {
  height: 100%;
  width: auto;
}
.block-branding a.site-name {
  margin: 0 8.5px;
}
@media only screen and (min-width: 800px) {
  .block-branding {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }
  .block-branding a.site-name {
    display: none;
  }
}
body form .form-item {
  margin-bottom: 1.25rem;
}
section#collections {
  height: 100vh;
  padding: 4rem 0 0;
}
section#collections .region h2 {
  text-align: center;
}
section#collections .region .is-gallery .is-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-gap: 0.5rem;
  padding: 0;
}
section#collections .region .is-gallery .is-grid li.is-canvas {
  -webkit-box-shadow: 0 12.1px 10px rgba(0,0,0,0.065), 0 97px 80px rgba(0,0,0,0.07);
  box-shadow: 0 12.1px 10px rgba(0,0,0,0.065), 0 97px 80px rgba(0,0,0,0.07);
  padding: 0.35rem;
}
section#collections .region .is-gallery .is-grid li.is-canvas h3 {
  margin: 0.5rem 0;
}
#content.content {
  margin-top: 74px;
  position: relative;
}
#content.content main {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  #content.content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 100%;
    margin-left: 200px;
    margin-top: 0;
    width: 100%;
  }
}
#content.content.with-sidebar {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
#content.content.with-sidebar #main-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 70%;
}
#content.content.with-sidebar #main-content .container {
  width: auto;
}
@media only screen and (min-width: 800px) {
  #content.content.with-sidebar #main-content {
    width: 100%;
  }
}
body.seeds-toolbar #header.header {
  left: 55px;
}
body #header.header {
  width: auto;
  height: auto;
  top: 8px;
  right: 0;
  left: 0;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
@media only screen and (min-width: 800px) {
  body #header.header {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 100vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 200px;
  }
}
#hero.hero {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 74px;
  width: 100%;
}
#hero.hero .region {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  #hero.hero {
    margin-top: 0;
    padding: 2.25rem 0 0;
  }
  #hero.hero .region h1 span {
    line-height: 1;
  }
}
header {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  z-index: 5;
}
header .region-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  -ms-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
header .region-navigation nav ul {
  padding: 0;
  margin-bottom: 0;
}
header .region-navigation nav ul li.nav-item {
  padding: 0;
}
header .region-navigation nav ul li.nav-item.is-active-trail a {
  color: #ff6f00;
}
header .region-navigation nav ul li.nav-item a {
  font-family: 'Roboto Slab', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
  text-decoration: none;
  padding: 15px;
  text-align: left;
  color: #3b3b3b;
  display: block;
  font-size: 1.1rem;
}
header .region-navigation nav ul li.nav-item a:hover {
  color: #3b3b3b;
}
header .region-navigation nav ul li.nav-item a:active,
header .region-navigation nav ul li.nav-item a.is-active {
  color: #ff6f00;
}
header .menu-icon {
  padding: 35px 28px;
  position: relative;
  float: right;
  cursor: pointer;
}
header .nav-icon {
  background-color: #000;
  border-radius: 1px;
  display: block;
  height: 4px;
  width: 24px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
header .nav-icon:before {
  content: '';
  background-color: #000;
  border-radius: 1px;
  display: block;
  height: 100%;
  width: 65%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: 7px;
}
header .nav-icon:after {
  content: '';
  background-color: #000;
  border-radius: 1px;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: -7px;
}
header .menu-button {
  display: none;
}
header .menu-button:checked ~ .region-navigation {
  max-height: 340px;
  width: 100%;
}
header .menu-button:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
header .menu-button:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  width: 100%;
}
header .menu-button:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
@media only screen and (min-width: 800px) {
  header {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  header .region-header {
    display: block;
  }
  header .region-navigation {
    max-height: none;
  }
  header .region-navigation nav ul {
    padding: 0;
  }
  header .region-navigation nav ul li.nav-item {
    padding: 0;
  }
  header .region-navigation nav ul li.nav-item a {
    font-family: 'Roboto Slab', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
    text-decoration: none;
    padding: 10px 10px 10px 25px;
    color: #3b3b3b;
    display: block;
    font-size: 1.1rem;
    line-height: 1.2;
    position: relative;
  }
  header .region-navigation nav ul li.nav-item a:before {
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 5px;
    background-color: transparent;
    position: absolute;
    display: block;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  header .region-navigation nav ul li.nav-item a:hover:before {
    background-color: #3b3b3b;
  }
  header .region-navigation nav ul li.nav-item a:active,
  header .region-navigation nav ul li.nav-item a.is-active {
    color: #ff6f00;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    transition: 0;
  }
  header .region-navigation nav ul li.nav-item a:active:before,
  header .region-navigation nav ul li.nav-item a.is-active:before {
    background-color: #ff6f00;
  }
  header .region-navigation nav ul li.nav-item.is-active-trail a {
    color: #ff6f00;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    transition: 0;
  }
  header .region-navigation nav ul li.nav-item.is-active-trail a:before {
    background-color: #ff6f00;
  }
  header .menu-button,
  header .menu-icon {
    display: none;
  }
}
.spotlight h1,
.spotlight h2 {
  margin-bottom: 0;
}
.spotlight h1 {
  font-size: 5rem;
}
.spotlight h2 {
  font-family: 'Open Sans', font-family-sans-serif;
  font-size: 2rem;
  margin-top: -6px;
}
.spotlight p {
  margin: 0.75rem 0 0;
}
.spotlight .avatar {
  width: 32vh;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 800px) {
  .spotlight h1 {
    margin-bottom: 1.5rem;
  }
  .spotlight h2 {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .spotlight {
    text-align: center;
  }
  .spotlight h1 {
    font-size: 5rem;
  }
}
.list-tags {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.list-tags .is-tag a {
  background-color: #c9c9c9;
  color: #fff;
  display: block;
  font-size: 16px;
  margin-right: 4px;
  padding: 6px 12px;
}
body.page-front #hero.hero {
  height: 100vh;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 0;
}
body.page-front #hero.hero .region-hero {
  height: 100vh;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body.page-front #hero.hero .region-hero #block-meimage {
  margin-bottom: 1rem;
}
body.page-front #hero.hero .region-hero #block-metext {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#main-wrapper #login-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: baseline;
  -webkit-align-content: baseline;
  align-content: baseline;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 100px;
}
#main-wrapper #login-wrapper #login-container {
  padding: 1.5rem;
  width: 35%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
#main-wrapper #login-wrapper #login-container #top_part {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#main-wrapper #login-wrapper #login-container #top_part h1#the_logo {
  height: auto;
  margin-bottom: 1.5rem;
  padding: 0;
  width: auto;
}
#main-wrapper #login-wrapper #login-container #top_part h1#the_logo a img {
  width: 5rem;
}
#main-wrapper #login-wrapper #login-container #login_main_part .back_link {
  display: block;
  margin-bottom: 1.25rem;
}
#main-wrapper #login_main_part,
#main-wrapper #regi_main_part {
  padding: 0;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  margin: 1rem 0;
}
@media only screen and (max-width: 800px) {
  #main-wrapper #login-wrapper {
    -ms-flex-line-pack: baseline;
    -webkit-align-content: baseline;
    align-content: baseline;
  }
  #main-wrapper #login-wrapper #login-container {
    width: 90%;
    padding: 20px;
  }
  #main-wrapper #login_box {
    width: 100%;
    padding: 50px 4%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1800px) {
  #main-wrapper #login-wrapper {
    -ms-flex-line-pack: baseline;
    -webkit-align-content: baseline;
    align-content: baseline;
  }
  #main-wrapper #login-wrapper #login-container {
    width: 50%;
  }
}
.moderation-dashboard-block {
  overflow: hidden;
}
.moderation-dashboard-block.moderation-dashboard-activity canvas {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75rem;
}
