// CANVAS CSS

.canvas
	.canvas-content
		align-items center
		display flex
		flex-flow column wrap
		padding 0 0.5rem 0.5rem

+above(l)
	.canvas
		.canvas-content
			flex-flow row nowrap
			justify-content space-between
			padding 0 0.5rem