// FEATURED

section
	&#collections
		background-color #fafafa
		height auto
		padding 82px 0 0
		.region
			h2
				padding 4rem 0 2rem
				text-align center
			.is-gallery
				.is-grid
					display grid
					grid-template-columns repeat(auto-fit, minmax(450px, 1fr))
					grid-gap 1rem
					padding 0
					li
						&.is-canvas
							background-color white
							border-radius 4px
							box-shadow 0 12.1px 10px rgba(0,0,0,.065), 0 97px 80px rgba(0,0,0,.07)
							overflow hidden
							h3
								display flex
								margin 1.5rem 0
								&:before
									align-self flex-end
									font-size 1.25rem
									order 1

+above(l)
	section
		&#collections
			height 100vh
			padding 0
			.region
				h2
					text-align center
				.is-gallery
					.is-grid
						grid-gap 0.5rem
						li
							&.is-canvas
								h3
									margin 0.5rem 0