// TYPOGRAPHY

$line-height-ratio		= 1.75
$heading-ratio				= $minor-seventh
$body-font						= $helvetica
$body-font-weight			= 300
$body-color						= #666
$heading-font					= $helvetica
$heading-font-weight	= 500
$heading-color				= #111
$min-font							= 13px
$max-font							= 20px
$min-width						= 600px
$max-width						= 1000px
$vertical-rhythm 			= false

typographic()
