// FORMS

body
	form
		.form-item
			margin-bottom 1.25rem
// 		*
// 			input,
// 			input[type='button'],
// 			input[type='password']
// 			input[type='reset'],
// 			input[type='submit'],
// 			input[type='text']
// 				border-radius 0
// 					&:focus
// 						border-radius 0
		.form-actions
			align-items center
			display flex