// FEATURED

section
	&#collections
		height 100vh
		padding 4rem 0 0
		.region
			h2
				text-align center
			.is-gallery
				.is-grid
					display grid
					grid-template-columns repeat(auto-fit, minmax(375px, 1fr))
					grid-gap 0.5rem
					padding 0
					li
						&.is-canvas
							box-shadow 0 12.1px 10px rgba(0,0,0,.065),0 97px 80px rgba(0,0,0,.07)
							padding 0.35rem
							h3
								margin 0.5rem 0
								